<form id='search' action='/search' method='post' > 
  <input type='text' name='person[name]' placeholder='Start search here' />
  <input type='submit' val='Search' />
</form>
<div id='names'>
  <div>Found <span id='count'></span> people</div>
  <ol id='list'>

  </ol>
</div>